@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
/*utilitis*/
.text-white{color: white}
.no-margin {margin: 0 !important;}
.mt-4{margin-top: 4%;}

/* navegador*/

ul li:hover{background-color:#2C3E50;}

nav .container{padding: 1% 6%;}

.navbar-default {
background-color: #34495E;
border-color: #e7e7e7;
}
nav a{
font-weight: 400;
font-family: 'Roboto';
}

.navbar-default .navbar-nav > li > .active {color: #18bc9e;}

.navbar-default .navbar-nav > li > .active:hover{color: #fff;}

.navbar-default .navbar-nav > li > a:hover{color: #fff;}

.navbar-default .navbar-nav>li>a {color:white;}

/*about*/
.fondo-verde {
  background-color: #2ecc71;
  padding-top: 10%;
  padding-left: 10%;
  padding-bottom: 5%;
}

.home{
	padding-top: 5%;
	padding-left: 15%;
}

@media (max-width: 767px){
	.fondo-verde{
    padding-top: 16%;
    padding-left: 3%;
    padding-bottom: 10%;
  }
  .home{text-align: right;}
}
/*fondo de section*/
.fondo{background-color: #F5F5F5}

/*barras de progreso*/
.progress {
  height: 27px;
  margin-bottom: 13px;
  background-color: white;
}

/*imagenes*/
.chica {
  width: 80%;
  border-radius: 50%;
  border: 5px solid white;
}